<cmp 
	name = "蓝叶音乐欣赏播放器" 
	link = "http://lanyes.org/"
	description = "" 
	logo = ""
	context_menu= "0"
	
	skins = "1qwe.zip"
	plugins = ""
	backgrounds = ""
	lists = "dj.xml"
	play_mode = "0"
	
	bg_video = ""
    
	skin_id = ""

	play_id = ""
	auto_play = ""
	list_delete = ""
	
	sound_sample = ""
	mixer_displace = ""
	mixer_filter = ""
        mixer_id ="10"
	
	counter = ""
/>