.border {
	background-color: #EBEBEB;
	height: 20px;
	width: 100px;
	border: 1px solid #EBEBEB;
}
.table {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #E3E3E3;
	border-right-color: #FFFFFF;
	border-bottom-color: #339999;
	border-left-color: #E3E3E3;
}
a:link {
	color: #000000;
	font-size: 12px;
	font-weight: normal;
}
.font {
	font-size: 12px;
	font-weight: normal;
}

a:visited {
	font-family: "ו";
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
}

.delete {
	background-image: url(../img/delete.gif);
	background-repeat: repeat;
	height: 22px;
	width: 53px;
	border: medium none #003399;
}
a:active {
	font-size: 12px;
	font-weight: normal;
	font-family: "ו";
}
a:hover {
	text-decoration: underline;
	font-weight: normal;
}
