.border {
	font-family: "ºÚÌå";
	font-size: 14px;
	border: 1px solid #6699CC;
	height: 23px;
	text-align: left;
	vertical-align: text-bottom;
	font-weight: normal;
}
.button {
	background-attachment: fixed;
	background-color: #ECE9D8;
	background-image: url(../img/qx_On_On_On_On.gif);
	background-repeat: repeat;
	height: 30px;
	width: 86px;
	border: thin none #ECE9D8;
}
.button2 {
	background-attachment: fixed;
	background-image: url(../img/qx_On_On.gif);
	background-repeat: repeat;
	height: 30px;
	width: 70px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.borders {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #E9E9E9;
	border-right-color: #E9E9E9;
	border-bottom-color: #E9E9E9;
	border-left-color: #E9E9E9;
}



a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.font {
	font-family: "ËÎÌå";
	font-size: 12px;
}
