body{background-color: white;}
#txr_product_tempContent{
	text-align:center;font-size:16px; width:720px; font-family: 'ו', Verdana, sans-serif;
	
}
#txr_product_tempTab1{
	width:100%;
}
#txr_product_tempTab1 TR{ height:50PX;}
#txr_product_tempTab1 .tab_td_label{ text-align:left; font-weight:bold; font-size:20px;}
#txr_product_tempTab1 INPUT{text-align:left; font-size:18px; border:none; border-bottom: solid #000 1px; width:95%;}

#txr_product_remark1{ line-height:30px; text-align:left;}
#txr_product_remark1 INPUT{text-align:left; font-size:16px; border:none; border-bottom: solid #000 1px;}
#txr_product_remark1 H4{ text-align:center;}

#txr_product_tempTab2{width:100%;}
#txr_product_tempTab2 TR{ height:50PX;}
.special_rownumber{ font-weight:bold;}
.special_underline{ text-decoration:underline;}